<div class="add-edit-user text-center flex flex-column gap-3 p-4">
  <!-- <pre>{{ userForm.value | json }}</pre> -->
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <!-- User Image -->
    <div
      class="add-edit-user_img w-6rem h-6rem m-auto border-solid border-circle overflow-hidden"
    >
      <img
        *ngIf="currentUser?.picture"
        [src]="'assets/images/' + currentUser?.picture"
        alt="User Image"
        class="w-full"
      />
    </div>

    <!-- Upload Image -->
    <div class="add-edit-user_upload-img flex justify-content-center">
      <label for="uploadImage" class="bg-primary border-round py-2 px-3 my-3"
        >Upload Photo</label
      >
      <p>{{ fileName }}</p>
      <input
        type="file"
        accept="image/*"
        id="uploadImage"
        hidden
        (change)="onFileChange($event)"
      />
    </div>

    <!-- User Inputs -->
    <div class="add-edit-user_inputs flex flex-column gap-3 py-6 my-6">
      <div class="flex flex-column lg:flex-row justify-content-between gap-3">
        <!-- First Name -->
        <div class="w-full">
          <input
            type="text"
            formControlName="firstName"
            pInputText
            placeholder="First Name"
            class="w-full"
          />
          <p
            class="text-red-500"
            *ngIf="userForm.get('firstName')?.hasError('required')"
          >
            *The first name is required.
          </p>
        </div>

        <!-- Last Name -->
        <div class="w-full">
          <input
            type="text"
            formControlName="lastName"
            pInputText
            placeholder="Last Name"
            class="w-full"
          />
          <p
            class="text-red-500"
            *ngIf="userForm.get('lastName')?.hasError('required')"
          >
            *The last name is required.
          </p>
        </div>
      </div>
      <div class="flex flex-column lg:flex-row justify-content-between gap-3">
        <!-- email  -->
        <div class="w-full">
          <input
            type="email"
            formControlName="email"
            pInputText
            placeholder="Email"
            [readonly]="isUserEdit"
            class="w-full"
          />
          <p class="text-red-500" *ngIf="isUserEdit">*Email is disabled</p>
          <p
            class="text-red-500"
            *ngIf="userForm.get('email')?.hasError('required')"
          >
            *Email is required.
          </p>
          <p
            class="text-red-500"
            *ngIf="userForm.get('email')?.hasError('email')"
          >
            *Please enter a valid email.
          </p>
        </div>
        <!-- phone  -->
        <div class="w-full">
          <input type="text" pInputText placeholder="phone" class="w-full" />
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div
      class="flex flex-column lg:flex-row lg:justify-content-center lg:gap-5 gap-3"
    >
      <p-toast />

      <!-- Cancel Button -->
      <p-button
        label="Cancel"
        [rounded]="true"
        severity="secondary"
        (click)="resetAndReload()"
      />

      <!-- Submit Button -->
      <p-button
        [label]="submitLabel"
        [rounded]="true"
        severity="info"
        [disabled]="userForm.invalid"
        type="submit"
      />
    </div>
  </form>
</div>
